In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt 

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [6]:
#Convert Date to String

#Convert the job_posted_date column to a string format 'YYYY-MM-DD' and create a new column job_posted_date_str.

df['job_posted_date_str'] = df['job_posted_date'].apply(lambda date: date.strftime('%Y-%m-%d'))
type(df['job_posted_date_str'])

pandas.core.series.Series

In [17]:
#Day since posted

#Calculate the number of days since each job was posted. Create a new column days_since_posted that contains this value. Use the job_posted_date column.

from datetime import datetime
date_now = datetime.now()
df['days_since_posted'] = df['job_posted_date'].apply(lambda date:(date_now - date).days)
df['days_since_posted'].head()

0    633
1    786
2    517
3    615
4    581
Name: days_since_posted, dtype: int64

In [29]:
#Salary category

#Create a copy of the DataFrame called df_filtered and drop the NaN values for salary_year_avg.
df_filtered = df[df['salary_year_avg'].notna()].copy()
# create a new column salary_category that categorizes the salary_year_avg into three categories: 'Low' for salaries less than 60,000, 'Medium' for salaries between 60,000 and 100,000, and 'High' for salaries greater than 100,000.

df_filtered['salary_category'] = df_filtered['salary_year_avg'].apply(lambda salary: 
                                                          'Low' if salary < 60000 
                                                           else ( 'High'if salary > 100000
                                                           else 'Medium'))

df_filtered[['salary_year_avg', 'salary_category']]

        salary_year_avg salary_category
28             109500.0            High
77             140000.0            High
92             120000.0            High
100            228222.0            High
109             89000.0          Medium
...                 ...             ...
785624         139216.0            High
785641         150000.0            High
785648         221875.0            High
785682         157500.0            High
785692         157500.0            High

[22003 rows x 2 columns]